USE [master]
GO
/****** Object:  Database [dataproje]    Script Date: 17.05.2024 10:30:01 ******/
CREATE DATABASE [dataproje]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'dataproje', FILENAME = N'C:\Users\ASUS\OneDrive\Belgeler\Masaüstü\MSSQL15.SQLEXPRESS\MSSQL\DATA\dataproje.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'dataproje_log', FILENAME = N'C:\Users\ASUS\OneDrive\Belgeler\Masaüstü\MSSQL15.SQLEXPRESS\MSSQL\DATA\dataproje_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [dataproje].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [dataproje]
GO
/****** Object:  Table [dbo].[__MigrationHistory]    Script Date: 17.05.2024 10:30:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__MigrationHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ContextKey] [nvarchar](300) NOT NULL,
	[Model] [varbinary](max) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK_dbo.__MigrationHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC,
	[ContextKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Admins]    Script Date: 17.05.2024 10:30:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Admins](
	[Adminid] [int] IDENTITY(1,1) NOT NULL,
	[KullaniciAd] [varchar](10) NULL,
	[Sifre] [varchar](30) NULL,
	[Yetki] [char](1) NULL,
 CONSTRAINT [PK_dbo.Admins] PRIMARY KEY CLUSTERED 
(
	[Adminid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Carilers]    Script Date: 17.05.2024 10:30:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Carilers](
	[Cariid] [int] IDENTITY(1,1) NOT NULL,
	[CariAd] [varchar](30) NULL,
	[CariSoyad] [varchar](30) NOT NULL,
	[CariSehir] [varchar](13) NULL,
	[CariMail] [varchar](50) NULL,
	[Durum] [bit] NOT NULL,
	[CariSifre] [varchar](20) NULL,
 CONSTRAINT [PK_dbo.Carilers] PRIMARY KEY CLUSTERED 
(
	[Cariid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Departmen]    Script Date: 17.05.2024 10:30:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Departmen](
	[Departmanid] [int] IDENTITY(1,1) NOT NULL,
	[DepartmanAd] [varchar](30) NULL,
	[Durum] [bit] NOT NULL,
 CONSTRAINT [PK_dbo.Departmen] PRIMARY KEY CLUSTERED 
(
	[Departmanid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FaturaKalems]    Script Date: 17.05.2024 10:30:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FaturaKalems](
	[FaturaKalemid] [int] IDENTITY(1,1) NOT NULL,
	[Aciklama] [varchar](100) NULL,
	[Miktar] [int] NOT NULL,
	[BirimFiyat] [decimal](18, 2) NOT NULL,
	[Tutar] [decimal](18, 2) NOT NULL,
	[Faturaid] [int] NOT NULL,
 CONSTRAINT [PK_dbo.FaturaKalems] PRIMARY KEY CLUSTERED 
(
	[FaturaKalemid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Faturalars]    Script Date: 17.05.2024 10:30:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Faturalars](
	[Faturaid] [int] IDENTITY(1,1) NOT NULL,
	[FaturaSeriNo] [char](1) NULL,
	[FaturaSıraNo] [varchar](6) NULL,
	[Tarih] [datetime] NOT NULL,
	[VergiDairesi] [varchar](60) NULL,
	[Saat] [char](5) NULL,
	[TeslimEden] [varchar](30) NULL,
	[TeslimAlan] [varchar](30) NULL,
	[Toplam] [decimal](18, 2) NOT NULL,
 CONSTRAINT [PK_dbo.Faturalars] PRIMARY KEY CLUSTERED 
(
	[Faturaid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Giders]    Script Date: 17.05.2024 10:30:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Giders](
	[Giderid] [int] IDENTITY(1,1) NOT NULL,
	[Aciklama] [varchar](100) NULL,
	[Tarih] [datetime] NOT NULL,
	[Tutar] [decimal](18, 2) NOT NULL,
 CONSTRAINT [PK_dbo.Giders] PRIMARY KEY CLUSTERED 
(
	[Giderid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KargoDetays]    Script Date: 17.05.2024 10:30:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KargoDetays](
	[KargoDetayid] [int] IDENTITY(1,1) NOT NULL,
	[Aciklama] [varchar](300) NULL,
	[TakipKodu] [varchar](10) NULL,
	[Personel] [varchar](20) NULL,
	[Alici] [varchar](20) NULL,
	[Tarih] [datetime] NOT NULL,
 CONSTRAINT [PK_dbo.KargoDetays] PRIMARY KEY CLUSTERED 
(
	[KargoDetayid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KargoTakips]    Script Date: 17.05.2024 10:30:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KargoTakips](
	[KargoTakipid] [int] IDENTITY(1,1) NOT NULL,
	[TakipKodu] [varchar](10) NULL,
	[Aciklama] [varchar](100) NULL,
	[TarihZaman] [datetime] NOT NULL,
 CONSTRAINT [PK_dbo.KargoTakips] PRIMARY KEY CLUSTERED 
(
	[KargoTakipid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Kategoris]    Script Date: 17.05.2024 10:30:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Kategoris](
	[KategoriID] [int] IDENTITY(1,1) NOT NULL,
	[KategoriAd] [varchar](30) NULL,
 CONSTRAINT [PK_dbo.Kategoris] PRIMARY KEY CLUSTERED 
(
	[KategoriID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Mesajlars]    Script Date: 17.05.2024 10:30:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Mesajlars](
	[MesajID] [int] IDENTITY(1,1) NOT NULL,
	[Gonderici] [nvarchar](50) NULL,
	[Alici] [nvarchar](50) NULL,
	[Konu] [nvarchar](100) NULL,
	[Icerik] [nvarchar](max) NULL,
	[Tarih] [datetime] NOT NULL,
 CONSTRAINT [PK_dbo.Mesajlars] PRIMARY KEY CLUSTERED 
(
	[MesajID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Personels]    Script Date: 17.05.2024 10:30:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Personels](
	[PersonelID] [int] IDENTITY(1,1) NOT NULL,
	[PersonelAd] [varchar](30) NULL,
	[PersonelSoyad] [varchar](30) NULL,
	[PersonelGorsel] [varchar](500) NULL,
	[Departmanid] [int] NULL,
	[PersonelTelefon] [char](11) NULL,
	[PersonelAdres] [varchar](250) NULL,
 CONSTRAINT [PK_dbo.Personels] PRIMARY KEY CLUSTERED 
(
	[PersonelID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SatisHarekets]    Script Date: 17.05.2024 10:30:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SatisHarekets](
	[Satisid] [int] IDENTITY(1,1) NOT NULL,
	[Tarih] [datetime] NOT NULL,
	[Adet] [int] NOT NULL,
	[Fiyat] [decimal](18, 2) NOT NULL,
	[ToplamTutar] [decimal](18, 2) NOT NULL,
	[Cariid] [int] NOT NULL,
	[Personelid] [int] NOT NULL,
	[Urunid] [int] NOT NULL,
 CONSTRAINT [PK_dbo.SatisHarekets] PRIMARY KEY CLUSTERED 
(
	[Satisid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Uruns]    Script Date: 17.05.2024 10:30:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Uruns](
	[UrunID] [int] IDENTITY(1,1) NOT NULL,
	[UrunAd] [varchar](30) NULL,
	[Marka] [varchar](30) NULL,
	[Stok] [smallint] NOT NULL,
	[AlisFiyat] [decimal](18, 2) NOT NULL,
	[SatisFiyat] [decimal](18, 2) NOT NULL,
	[Durum] [bit] NOT NULL,
	[UrunGorsel] [varchar](500) NULL,
	[Kategoriid] [int] NOT NULL,
 CONSTRAINT [PK_dbo.Uruns] PRIMARY KEY CLUSTERED 
(
	[UrunID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Yapilacaks]    Script Date: 17.05.2024 10:30:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Yapilacaks](
	[Yapilacakid] [int] IDENTITY(1,1) NOT NULL,
	[Baslik] [varchar](100) NULL,
	[Durum] [bit] NOT NULL,
 CONSTRAINT [PK_dbo.Yapilacaks] PRIMARY KEY CLUSTERED 
(
	[Yapilacakid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Admins] ON 

INSERT [dbo].[Admins] ([Adminid], [KullaniciAd], [Sifre], [Yetki]) VALUES (1, N'Melih', N'1', NULL)
SET IDENTITY_INSERT [dbo].[Admins] OFF
GO
SET IDENTITY_INSERT [dbo].[Carilers] ON 

INSERT [dbo].[Carilers] ([Cariid], [CariAd], [CariSoyad], [CariSehir], [CariMail], [Durum], [CariSifre]) VALUES (1, N'Ayşe', N'Ak', N'Ankara', N'ayse@gmail.com', 1, N'00')
INSERT [dbo].[Carilers] ([Cariid], [CariAd], [CariSoyad], [CariSehir], [CariMail], [Durum], [CariSifre]) VALUES (2, N'Salih', N'Beyaz', N'İzmir', N'salih@gmail.com', 1, N'0')
INSERT [dbo].[Carilers] ([Cariid], [CariAd], [CariSoyad], [CariSehir], [CariMail], [Durum], [CariSifre]) VALUES (3, N'Barış', N'Sarık', N'Samsun', N'baris@gmail.com', 1, N'2')
SET IDENTITY_INSERT [dbo].[Carilers] OFF
GO
SET IDENTITY_INSERT [dbo].[Departmen] ON 

INSERT [dbo].[Departmen] ([Departmanid], [DepartmanAd], [Durum]) VALUES (1, N'Satış Temsilcisi', 0)
INSERT [dbo].[Departmen] ([Departmanid], [DepartmanAd], [Durum]) VALUES (2, N'Muhasebe', 1)
INSERT [dbo].[Departmen] ([Departmanid], [DepartmanAd], [Durum]) VALUES (3, N'Satın Alma', 1)
SET IDENTITY_INSERT [dbo].[Departmen] OFF
GO
SET IDENTITY_INSERT [dbo].[FaturaKalems] ON 

INSERT [dbo].[FaturaKalems] ([FaturaKalemid], [Aciklama], [Miktar], [BirimFiyat], [Tutar], [Faturaid]) VALUES (1, N'Buzdolabı', 1, CAST(13000.00 AS Decimal(18, 2)), CAST(13000.00 AS Decimal(18, 2)), 1)
INSERT [dbo].[FaturaKalems] ([FaturaKalemid], [Aciklama], [Miktar], [BirimFiyat], [Tutar], [Faturaid]) VALUES (2, N'Fırın', 1, CAST(10000.00 AS Decimal(18, 2)), CAST(10000.00 AS Decimal(18, 2)), 1)
INSERT [dbo].[FaturaKalems] ([FaturaKalemid], [Aciklama], [Miktar], [BirimFiyat], [Tutar], [Faturaid]) VALUES (3, N'Vazo', 2, CAST(80.00 AS Decimal(18, 2)), CAST(160.00 AS Decimal(18, 2)), 1)
SET IDENTITY_INSERT [dbo].[FaturaKalems] OFF
GO
SET IDENTITY_INSERT [dbo].[Faturalars] ON 

INSERT [dbo].[Faturalars] ([Faturaid], [FaturaSeriNo], [FaturaSıraNo], [Tarih], [VergiDairesi], [Saat], [TeslimEden], [TeslimAlan], [Toplam]) VALUES (1, N'A', N'100000', CAST(N'2023-04-24T00:00:00.000' AS DateTime), N'Şahinbey', N'13:30', N'Elif Genco', N'Yavuz Ulus', CAST(23160.00 AS Decimal(18, 2)))
INSERT [dbo].[Faturalars] ([Faturaid], [FaturaSeriNo], [FaturaSıraNo], [Tarih], [VergiDairesi], [Saat], [TeslimEden], [TeslimAlan], [Toplam]) VALUES (2, N'A', N'100100', CAST(N'2023-06-05T00:00:00.000' AS DateTime), N'Kadıköy', N'14:35', N'Ali Kaya', N'Arzu Ece', CAST(32000.00 AS Decimal(18, 2)))
INSERT [dbo].[Faturalars] ([Faturaid], [FaturaSeriNo], [FaturaSıraNo], [Tarih], [VergiDairesi], [Saat], [TeslimEden], [TeslimAlan], [Toplam]) VALUES (3, N'A', N'100010', CAST(N'2023-03-02T00:00:00.000' AS DateTime), N'Mezitli', N'14:14', N'Ayşe Korkmaz', N'Yeşim Kor', CAST(20080.00 AS Decimal(18, 2)))
SET IDENTITY_INSERT [dbo].[Faturalars] OFF
GO
SET IDENTITY_INSERT [dbo].[KargoDetays] ON 

INSERT [dbo].[KargoDetays] ([KargoDetayid], [Aciklama], [TakipKodu], [Personel], [Alici], [Tarih]) VALUES (1, N'buzdolabı alındı', N'123ABY76LM', N'Ahmet Yılmaz', N'Elif Genco', CAST(N'2024-02-05T00:00:00.000' AS DateTime))
INSERT [dbo].[KargoDetays] ([KargoDetayid], [Aciklama], [TakipKodu], [Personel], [Alici], [Tarih]) VALUES (2, N'beyaz eşya alındı', N'118C29B89A', N'Ali Kalkan', N'Ayşe Ak', CAST(N'2022-05-03T00:00:00.000' AS DateTime))
SET IDENTITY_INSERT [dbo].[KargoDetays] OFF
GO
SET IDENTITY_INSERT [dbo].[KargoTakips] ON 

INSERT [dbo].[KargoTakips] ([KargoTakipid], [TakipKodu], [Aciklama], [TarihZaman]) VALUES (1, N'118C29B89A', N'Müşteri siparişi alındı.', CAST(N'2024-04-03T00:00:00.000' AS DateTime))
INSERT [dbo].[KargoTakips] ([KargoTakipid], [TakipKodu], [Aciklama], [TarihZaman]) VALUES (2, N'118C29B89A', N'Ürün kargoya verildi.', CAST(N'2024-04-04T00:00:00.000' AS DateTime))
INSERT [dbo].[KargoTakips] ([KargoTakipid], [TakipKodu], [Aciklama], [TarihZaman]) VALUES (3, N'118C29B89A', N'Ürün Ankara''dan çıktı.', CAST(N'2024-04-05T00:00:00.000' AS DateTime))
SET IDENTITY_INSERT [dbo].[KargoTakips] OFF
GO
SET IDENTITY_INSERT [dbo].[Kategoris] ON 

INSERT [dbo].[Kategoris] ([KategoriID], [KategoriAd]) VALUES (1, N'Beyaz Eşya')
INSERT [dbo].[Kategoris] ([KategoriID], [KategoriAd]) VALUES (2, N'Telefon')
INSERT [dbo].[Kategoris] ([KategoriID], [KategoriAd]) VALUES (3, N'Küçük Ev Aleti')
SET IDENTITY_INSERT [dbo].[Kategoris] OFF
GO
SET IDENTITY_INSERT [dbo].[Mesajlars] ON 

INSERT [dbo].[Mesajlars] ([MesajID], [Gonderici], [Alici], [Konu], [Icerik], [Tarih]) VALUES (1, N'elif@gmail.com', N'ali@gmail.com', N'Teşekkür', N'Teşekkürlerimi iletiyorum.', CAST(N'2024-05-07T00:00:00.000' AS DateTime))
INSERT [dbo].[Mesajlars] ([MesajID], [Gonderici], [Alici], [Konu], [Icerik], [Tarih]) VALUES (2, N'baris@gmail.com', N'ayse@gmail.com', N'Teslimat', N'Ürün teslim edildi.', CAST(N'2024-05-09T00:00:00.000' AS DateTime))
INSERT [dbo].[Mesajlars] ([MesajID], [Gonderici], [Alici], [Konu], [Icerik], [Tarih]) VALUES (3, N'ayse@gmail.com', N'elif@gmail.com', N'Toplantı', N'Selam, bugün toplantı var.', CAST(N'2024-04-02T00:00:00.000' AS DateTime))
SET IDENTITY_INSERT [dbo].[Mesajlars] OFF
GO
SET IDENTITY_INSERT [dbo].[Personels] ON 

INSERT [dbo].[Personels] ([PersonelID], [PersonelAd], [PersonelSoyad], [PersonelGorsel], [Departmanid], [PersonelTelefon], [PersonelAdres]) VALUES (1, N'Ahmet', N'Yılmaz', N'/Image/indir (1).jpeg.jpeg', 1, N'05358629544', N'İstanbul')
INSERT [dbo].[Personels] ([PersonelID], [PersonelAd], [PersonelSoyad], [PersonelGorsel], [Departmanid], [PersonelTelefon], [PersonelAdres]) VALUES (2, N'Ayşe', N'Korkmaz', N'https://img.freepik.com/premium-photo/young-woman-portrait-adorable-brunette-shirt-looking-camera-with-her-arms-crossed_168410-1953.jpg', 1, N'05326598745', N'İstanbul')
INSERT [dbo].[Personels] ([PersonelID], [PersonelAd], [PersonelSoyad], [PersonelGorsel], [Departmanid], [PersonelTelefon], [PersonelAdres]) VALUES (3, N'Ali', N'Kalkan', N'https://img.freepik.com/premium-photo/young-brazilian-man-isolated-white-background-laughing_1368-362553.jpg', 2, N'05318945623', N'Ankara')
SET IDENTITY_INSERT [dbo].[Personels] OFF
GO
SET IDENTITY_INSERT [dbo].[SatisHarekets] ON 

INSERT [dbo].[SatisHarekets] ([Satisid], [Tarih], [Adet], [Fiyat], [ToplamTutar], [Cariid], [Personelid], [Urunid]) VALUES (1, CAST(N'2023-05-24T00:00:00.000' AS DateTime), 1, CAST(13000.00 AS Decimal(18, 2)), CAST(13000.00 AS Decimal(18, 2)), 3, 2, 1)
INSERT [dbo].[SatisHarekets] ([Satisid], [Tarih], [Adet], [Fiyat], [ToplamTutar], [Cariid], [Personelid], [Urunid]) VALUES (2, CAST(N'2023-05-12T00:00:00.000' AS DateTime), 1, CAST(14000.00 AS Decimal(18, 2)), CAST(14000.00 AS Decimal(18, 2)), 2, 1, 6)
INSERT [dbo].[SatisHarekets] ([Satisid], [Tarih], [Adet], [Fiyat], [ToplamTutar], [Cariid], [Personelid], [Urunid]) VALUES (4, CAST(N'2023-05-08T15:00:00.000' AS DateTime), 1, CAST(80.00 AS Decimal(18, 2)), CAST(80.00 AS Decimal(18, 2)), 1, 3, 9)
SET IDENTITY_INSERT [dbo].[SatisHarekets] OFF
GO
SET IDENTITY_INSERT [dbo].[Uruns] ON 

INSERT [dbo].[Uruns] ([UrunID], [UrunAd], [Marka], [Stok], [AlisFiyat], [SatisFiyat], [Durum], [UrunGorsel], [Kategoriid]) VALUES (1, N'Buzdolabı', N'Arçelik', 135, CAST(10000.00 AS Decimal(18, 2)), CAST(13000.00 AS Decimal(18, 2)), 1, N'https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQPOwQv_3uW1EqSM4azy7RM22ya2QmC0xsXQA&usqp=CAU', 1)
INSERT [dbo].[Uruns] ([UrunID], [UrunAd], [Marka], [Stok], [AlisFiyat], [SatisFiyat], [Durum], [UrunGorsel], [Kategoriid]) VALUES (2, N'Çamaşır Makinesi', N'Profilo', 92, CAST(12000.00 AS Decimal(18, 2)), CAST(15000.00 AS Decimal(18, 2)), 1, N'https://ideacdn.net/idea/gi/65/myassets/products/170/profilo-cmj10170tr-tam-otomatik-camasir-makinasi-4748.jpeg?revision=1701853606', 1)
INSERT [dbo].[Uruns] ([UrunID], [UrunAd], [Marka], [Stok], [AlisFiyat], [SatisFiyat], [Durum], [UrunGorsel], [Kategoriid]) VALUES (3, N'Laptop', N'Lenovo', 200, CAST(15000.00 AS Decimal(18, 2)), CAST(17000.00 AS Decimal(18, 2)), 1, N'https://platincdn.com/3822/pictures/PYBCVUZPNR617202210017_DisplayFile.jpg', 5)
SET IDENTITY_INSERT [dbo].[Uruns] OFF
GO
SET IDENTITY_INSERT [dbo].[Yapilacaks] ON 

INSERT [dbo].[Yapilacaks] ([Yapilacakid], [Baslik], [Durum]) VALUES (2, N'Ahmet Bey ile toplantı yapılacak', 0)
INSERT [dbo].[Yapilacaks] ([Yapilacakid], [Baslik], [Durum]) VALUES (4, N'Nazlı Hanım ile 14.30''da görüşme var', 0)
INSERT [dbo].[Yapilacaks] ([Yapilacakid], [Baslik], [Durum]) VALUES (7, N'Yeni Ürünler sisteme eklenecek', 0)
SET IDENTITY_INSERT [dbo].[Yapilacaks] OFF
GO
/****** Object:  Index [IX_Faturaid]    Script Date: 17.05.2024 10:30:01 ******/
CREATE NONCLUSTERED INDEX [IX_Faturaid] ON [dbo].[FaturaKalems]
(
	[Faturaid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Departman_Departmanid]    Script Date: 17.05.2024 10:30:01 ******/
CREATE NONCLUSTERED INDEX [IX_Departman_Departmanid] ON [dbo].[Personels]
(
	[Departmanid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Cariid]    Script Date: 17.05.2024 10:30:01 ******/
CREATE NONCLUSTERED INDEX [IX_Cariid] ON [dbo].[SatisHarekets]
(
	[Cariid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Personelid]    Script Date: 17.05.2024 10:30:01 ******/
CREATE NONCLUSTERED INDEX [IX_Personelid] ON [dbo].[SatisHarekets]
(
	[Personelid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Urunid]    Script Date: 17.05.2024 10:30:01 ******/
CREATE NONCLUSTERED INDEX [IX_Urunid] ON [dbo].[SatisHarekets]
(
	[Urunid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Kategoriid]    Script Date: 17.05.2024 10:30:01 ******/
CREATE NONCLUSTERED INDEX [IX_Kategoriid] ON [dbo].[Uruns]
(
	[Kategoriid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Carilers] ADD  DEFAULT ((0)) FOR [Durum]
GO
ALTER TABLE [dbo].[Departmen] ADD  DEFAULT ((0)) FOR [Durum]
GO
ALTER TABLE [dbo].[Faturalars] ADD  CONSTRAINT [DF__Faturalar__Topla__793DFFAF]  DEFAULT ((0)) FOR [Toplam]
GO
ALTER TABLE [dbo].[FaturaKalems]  WITH CHECK ADD  CONSTRAINT [FK_dbo.FaturaKalems_dbo.Faturalars_Faturaid] FOREIGN KEY([Faturaid])
REFERENCES [dbo].[Faturalars] ([Faturaid])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[FaturaKalems] CHECK CONSTRAINT [FK_dbo.FaturaKalems_dbo.Faturalars_Faturaid]
GO
ALTER TABLE [dbo].[Personels]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Personels_dbo.Departmen_Departman_Departmanid] FOREIGN KEY([Departmanid])
REFERENCES [dbo].[Departmen] ([Departmanid])
GO
ALTER TABLE [dbo].[Personels] CHECK CONSTRAINT [FK_dbo.Personels_dbo.Departmen_Departman_Departmanid]
GO
ALTER TABLE [dbo].[SatisHarekets]  WITH CHECK ADD  CONSTRAINT [FK_dbo.SatisHarekets_dbo.Carilers_Cariid] FOREIGN KEY([Cariid])
REFERENCES [dbo].[Carilers] ([Cariid])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[SatisHarekets] CHECK CONSTRAINT [FK_dbo.SatisHarekets_dbo.Carilers_Cariid]
GO
ALTER TABLE [dbo].[SatisHarekets]  WITH CHECK ADD  CONSTRAINT [FK_dbo.SatisHarekets_dbo.Personels_Personelid] FOREIGN KEY([Personelid])
REFERENCES [dbo].[Personels] ([PersonelID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[SatisHarekets] CHECK CONSTRAINT [FK_dbo.SatisHarekets_dbo.Personels_Personelid]
GO
ALTER TABLE [dbo].[SatisHarekets]  WITH CHECK ADD  CONSTRAINT [FK_dbo.SatisHarekets_dbo.Uruns_Urunid] FOREIGN KEY([Urunid])
REFERENCES [dbo].[Uruns] ([UrunID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[SatisHarekets] CHECK CONSTRAINT [FK_dbo.SatisHarekets_dbo.Uruns_Urunid]
GO
ALTER TABLE [dbo].[Uruns]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Uruns_dbo.Kategoris_Kategoriid] FOREIGN KEY([Kategoriid])
REFERENCES [dbo].[Kategoris] ([KategoriID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Uruns] CHECK CONSTRAINT [FK_dbo.Uruns_dbo.Kategoris_Kategoriid]
GO
USE [master]
GO
